@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes slowspin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  .slowspin {
    animation: slowspin 2000s linear infinite;
  }