@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  
  .animate-spin {
    animation: spin 100s linear infinite;
  }
  .firstimage{
    filter: drop-shadow(1px 1px 20px WHITE);
 }
 .secondimage{
   filter: drop-shadow(1px 1px 20px WHITE);
 }
